.git
.github
.vscode
.venv
.mypy_cache
.pytest_cache
.ruff_cache
**/__pycache__
**/*.py[cod]
**/*.egg-info
tests
docs
path
exports
.env
*.log
.DS_Store
Dockerfile
docker-compose.yml
Makefile
CONTRIBUTING.md
LICENSE
